.footerContainer{
    width: 90%;
    padding: 3rem;
    color: #667085;
    
}

@media (min-width:600px){
    .footerContainer{
        display: flex;
        height: 10%;
        justify-content: space-between;
        align-items: flex-start;
        width: 95%;
    }
}