#LinkSectionContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


@media (min-width:600px){
    #LinkSectionContainer{
        width: 100%;
    }
}