#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 1rem 0;
    
}
#share_link{
    display: none;
}
#profileContainer{
    position: relative;
}
.top{
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}
#profile_img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}
#twitter{
    font-weight: 700;
    text-align: center;
    color: #101828;
    font-size: 20px;
}
#slack{
    display: none;
}
#mobile_share{
    display: inline-block;
    position: absolute; 
    left: 45vw;
}
/* a{
    cursor: pointer;
} */

@media (min-width:600px){
    #share_link{
        display: inline-block;
        position: absolute; 
        left: 25rem;
    }
    #mobile_share{
        display: none;
    }
}