#techContainer{
    width: 90%;
    height: 68px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
}

#techContainer a{
    padding-right: 1rem;
}